<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847425813069-qlk5uskkuo03khm4nuh7sspu3grqik93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847425813069-qlk5uskkuo03khm4nuh7sspu3grqik93</string>
	<key>API_KEY</key>
	<string>AIzaSyA3dLZRZpp1--E4Ns4V0YOrEhiwDXrsuig</string>
	<key>GCM_SENDER_ID</key>
	<string>847425813069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metalbeard.crateFire</string>
	<key>PROJECT_ID</key>
	<string>crate-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>crate-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847425813069:ios:7d4989237ae5dc293c3a04</string>
</dict>
</plist>